{% extends "layout.html" %}

{% set currentPage = "race" %}

{% block title %}
  Pixelracer
{% endblock %}

{% block script %}
    <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/multiplayer.js"></script>
{% endblock %}

{% block content %}

  <canvas class="track-source"></canvas>

  <div class="laps">
    <div class="lap-wrapper">
      <div class="lap-info">
        <div>Lap <span class="lap-count"></span>/<span class="total-laps"></span></div>
        <div class="lap-time-wrapper">
          <span class="lap-time">0</span>
        </div>
      </div>
      <div class="message"></div>
      <!-- <div class="best-time-wrapper">
        Best <span class="best-time">0</span>
      </div> -->
    </div>
    <div class="restart">(R)estart</div>
      <!-- <div class="last-lap"></div> -->
  </div>

  <div class="track-wrapper">
    <div class="track">

      <div class="ghost"></div>
      <canvas class="skids"></canvas>
      <!-- <div class="place"></div> -->
    </div>
  </div>

  <div class="chat">

  </div>

  <div class="driver-name-ui">
    <input class="driver-name" type="text" />
  </div>

  <div class="chat-input-wrapper">
      <span class="instructions">Hit Enter to chat</span><input class="chat-input" />
  </div>





{% endblock %}

