{% extends "layout.html" %}
{% set currentPage = "single" %}

{% block title %}
  Pixelracer - Time Trial Mode
{% endblock %}

{% block script %}
  <script src="/js/tracks.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/editor.js"></script>
  <script src="/js/single.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet/less" href="/css/inspector.less" type="text/css">
  <link rel="stylesheet/less" href="/css/single.less" type="text/css">
{% endblock %}

{% block content %}

  <canvas class="track-source"></canvas>

  <div class="laps">
    <div class="lap-time-wrapper">
      <span class="lap-time">0.00</span>
    </div>
    <div class="best-time-wrapper">
      Best <span class="best-time"></span>
    </div>
    <div>
      <span class="delta-time"></span>
    </div>
  </div>

  <div class="track-wrapper">

    <div class="track">
      <!-- we should inject this -->
      <div class="ghost">
        <div class="shadow"></div>
        <div class="body"></div>
      </div>

      <canvas class="skids"></canvas>

      <div id="track-editor-cursor">
         <div class="cube">
           <div class="front"></div>
           <div class="back"></div>
           <div class="right"></div>
           <div class="left"></div>
           <div class="top"></div>
           <div class="bottom"></div>
         </div>
       </div>

  </div>
</div>

  <div id="inspector"></div>

  <div class="bottom-stuff">
    <a class="change-track" href="#">Change Track</a>
  </div>


  <div class="game-message">
    <div class="message"></div>
  </div>


  <div class="track-chooser">
    <div class="content">
      <h1>Choose a Track</h1>
      <div class="tracks"></div>
    </div>
  </div>



{% endblock %}

