.slower {
  color: #de3232;
}

.faster {
  color: #8fcf4b;
}


.laps {
  color: white;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  left: 0;

  .best-time-wrapper {
    display: none;
  }

  .lap-wrapper {
    margin-top: 15px;
    font-size: 20px;
    display: inline-block;

    div {
      margin-bottom: 8px;
    }

  }

  .lap-time {
    font-size: 32px;
    margin-bottom: 5px;
  }

}