body, html {
  font-family: 'Press Start 2P';
  padding: 0;
  margin: 0;
  background: black;
  overflow: hidden;
  position: relative;
  height: 100%;
  // background: url(http://img12.deviantart.net/7da3/i/2011/017/6/f/starfield_stock_by_freelancah-d2k5mcu.jpg);
}

body {
  transition: background .05s linear;
}

input {
  font-family: 'Press Start 2P';
}

body {
  perspective: 900px;
}

canvas.track-source {
  display: none;
}

.last-lap {
  color: white;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  font-size: 20px;
}


.laps {
  color: white;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  left: 0;

  .lap-wrapper {
    margin-top: 15px;
    font-size: 25px;
    display: inline-block;

    div {
      margin-bottom: 8px;
    }

  }

  .restart {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

}

.track {
  margin: 0px auto 0 auto;
  background-size: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  transform-style: preserve-3d;
}


.skids {
  display: block;
  position: absolute;
  // width: 600px;
  // height: 300px;
  // display: none;
}

.trail {
  height: 1px;
  width: 1px;
  position: absolute;

  opacity: .4;
  transform-style: preserve-3d;
}

.spark {
  height: 1px;
  width: 1px;
  position: absolute;
  background: white;
  transition: transform .5s ease-out;
  opacity: .3;
  border-radius: 50%;
}




.place {
  height: 15px;
  width: 15px;
  position: absolute;
  // background: pink;
  opacity: .4;
}

.car {
  height: 1px;
  width: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-style: preserve-3d;

  .name {
    position: absolute;
    width: 200px;
    color: white;
    left: ~"calc(50% - 100px)";
    text-align: center;
    font-size: 12px;
    opacity: .65;
    transform: rotateX(-70deg) translateY(-30px);
  }

  .body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  &[mode=under] {
    opacity: .3;
  }

}



@keyframes leader {
  0% {
    outline: solid 10px rgba(0,200,255,.2);
  }
  50%{
    outline: solid 10px rgba(0,200,255,.1);
  }
  100% {
    outline: solid 10px rgba(0,200,255,.2);
  }
}



@keyframes jump {
  0% {
    transform: translateZ(0px);
    animation-timing-function: ease-out;
  }
  50%{
    animation-timing-function: ease-in;
    transform: translateZ(45px);
  }
  100% {
    transform: translateZ(0px);
  }
}

.one .body {

}

.two {
  background: transparent;
  opacity: 1;

  .body {
    background: white;
    opacity: .5;
  }
}

.trackPop {
  animation-name: trackpop;
  animation-duration:  .2s;
  iteration-count: 1;
  animation-delay: 0;
}

@keyframes trackpop {
  0% {
    transform: scale(1);
  }
  20%{
    transform: scale(1.03);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}

.coin {
  position: absolute;
  height: 45px;
  width: 45px;
  transform-origin: center;
  transform-style: preserve-3d;
  animation: coinspin 4s infinite linear;
  background: rgba(0,0,0,.15);

  .vert {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: coinbounce 2s infinite linear;

    &:after {
      animation: coingleam 2s infinite linear;
      background: gold;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -50%;
      left: 0;
      transform: rotateX(-90deg);
      transform-origin: bottom;
    }

  }

}



.tree {
  position: absolute;
  height: 75px;
  width: 45px;
  background: url(/img/tree.gif);
  background-size: 100%;
  top: -45px;
  left: 45px;
  transform-origin: bottom;
  transform: rotateX(-90deg) ;
  transform-style: preserve-3d;
}

.lamp {
  position: absolute;
  height: 75px;
  width: 30px;
  background: url(/img/lamp.gif?1);
  background-size: 100%;
  top: -45px;
  left: 30px;
  transform-origin: bottom;
  transform: rotateX(-90deg) ;
  transform-style: preserve-3d;

  &:before {
    content: "";
    position: absolute;
    height: 55px;
    width: 15px;
    transform-origin: bottom;
    bottom: 0;
    left: 15px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0),black);
    transform: rotateX(90deg);
    opacity: .25;
  }
}


.windmill {
  position: absolute;
  height: 60px;
  width: 30px;
  background: url(/img/windmill.gif);
  background-size: 100%;
  top: -45px;
  left: 30px;
  transform-origin: bottom;
  transform: rotateX(-90deg) ;
  transform-style: preserve-3d;

  .prop {
    position: absolute;
    height: 75px;
    width: 75px;
    top: -30px;
    left: -22px;
    background: url(/img/windprop.gif);
    background-size: 100%;
    animation: windmill 24s infinite linear;
  }
}

.quit .body {
  animation: blah 1s ease-out forwards;
}

@keyframes blah {
  0% {
    transform: translateZ(0px);
  }
  30 {
    opacity: 1;
  }
  100% {
    transform: translateZ(100px);
    opacity: 0;
  }
}

.car .shadow {
  opacity: .3;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.driver-name-ui {
  text-align: center;

  input {
    font-size: 18px;
    width: 80px;
    text-align: center;
    color: white;
    background: transparent;
    padding: 0 0 4px 0;
    border-width: 0 0 0 0 ;
    text-transform: uppercase;
    border-bottom: solid 2px rgba(255,255,255,.4);

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
      border-bottom: solid 2px white;
    }
  }
}


@keyframes coinbounce {
  0% {
    transform: translateZ(8px);
  }
  50%{
    transform: translateZ(12px);
  }
  100%{
    transform: translateZ(8px);
  }
}

@keyframes coingleam {
  20% { background: gold;}
  40% { background: white;}
  45% { background: white;}
  46% { background: gold;}
}

@keyframes windmill {
  0% {
    transform: rotateZ(0deg) translateZ(1px);
  }
  100%{
    transform: rotateZ(359deg) translateZ(1px);
  }
}

@keyframes coinspin {
  0% {
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(359deg);
  }
}

.chat {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width:  200px;
  overflow: hidden;
  font-size: 14px;
  padding: 10px;
  font-size: 11px;
  line-height: 16px;
  opacity: .7;

  color: #8fcf4b;

  .message {
    margin-bottom: 5px;
  }

  .message-text {
    opacity: .7;
  }
}

.chat-input-wrapper {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  opacity: .5;
  color: white;

  input {
    display: none;
    font-size: 16px;
    width: 350px;
    text-align: center;
    color: white;
    background: transparent;
    padding: 0 0 4px 0;
    border: none;

    &:focus {
      outline: none;
      border-bottom: solid 2px white;
    }

  }
}


.transition-in {
  animation: trackin 1s ease-out forwards;
}

@keyframes trackout {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  0% {
    opacity: 1;
    transform: scale(1);
  }
}

.track-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  display: flex;
  display: -moz-flex;
  align-items: center;
  transition: opacity 1s linear;
  transform: rotateZ(0deg);
  transform-style: preserve-3d;

}

.game-message {
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 60px;
  color: white;
  text-align: center;
  display: flex;
  background: black;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity .25s ease-out;

  .message {
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all .25s ease-out;
  }

}

.bottom-stuff {
  position: absolute;
  width: 100%;
  bottom: 50px;
}

